<!-- 
<div class="outer-border">
    <div class="inner-border">
        <div class="start-message">
            <h2>Welcome to Tek_blog</h2>
            <p>Please sign in or create an account to get started! (: </p>
        </div>
    </div>
</div>
-->
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
        <span>({{post.post_url}})</span>
      </div>
      <div class="meta">
        {{post.vote_count}} point(s) by {{post.user.username}} on
        {{post.created_at}}
        |
        <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>